@import "kanagawa.css";

* {
  min-height: 0;
  font-family: "Martian Mono Nerd Font";
  font-size: 14px; /* Ridotto la dimensione del font */
}

window#waybar {
  color: @sumiInk4;
  background: @sumiInk1;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
}

window#waybar.empty {
  opacity: 0.3;
}

.modules-left,
.modules-right,
.modules-center {
  border: none;
  padding: 3px 5px; 
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: @sumiInk4;
  border-radius: 90px;
}

#custom-power {
  color: @carpYellow;
  font-weight: 600;
  margin-right: 10px;
  padding-left: 12px; 
  padding-right: 15px; 
  border-radius: 90px;
  background: @sumiInk4;
}

#workspaces {
  font-weight: 600;
  margin-right: 10px;
  padding: 3px 8px; /* Ridotto il padding */
  border-radius: 90px;
  background: @sumiInk2;
}

#workspaces button {
  color: @oniViolet;
  font-weight: 600;
  margin: 0px;
  padding: 0px 5px;
}

#workspaces button.urgent {
  color: @peachRed;
}

#workspaces button.empty {
  color: @waveAqua2;
}

#workspaces button.active {
  color: @crystalBlue;
}

#workspaces button.focused {
  color: @sakuraPink;
}

#battery,
#battery#sec,
#cpu,
#temperature,
#memory,
#disk {
  color: @winterGreen;
  font-weight: 600;
  margin-right: 10px;
  padding: 4px 12px; 
  border-radius: 90px;
  background: @sumiInk4;
}

#pulseaudio {
  color: @oniViolet;
  font-weight: 600;
  margin-right: 10px;
  padding: 4px 12px; 
  border-radius: 90px;
  background: @winterBlue;
}

#network {
  color: @sakuraPink;
  font-weight: 600;
  margin-right: 10px;
  padding: 4px 12px; 
  border-radius: 90px;
  background: @sumiInk4;
}

#tray {
  color: @text;
  font-weight: 600;
  padding: 4px 12px; 
  border-radius: 90px;
  background: @sumiInk4;
}

#clock {
  color: @sakuraPink;
  font-weight: 600;
  margin-right: 10px;
  padding: 4px 12px; 
  border-radius: 90px;
  background: @sumiInk4;
}

#custom-sepp {
  color: @surface2;
  font-size: 18px; 
  padding-left: 3px; 
  padding-right: 8px; 
}

#network.disconnected {
  background-color: @peachRed;
}
